@font-face {
  font-family: 'Gotham';
  src: url("../fonts/subset-GothamBlack.eot");
  src: url("../fonts/subset-GothamBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-GothamBlack.woff2") format("woff2"), url("../fonts/subset-GothamBlack.woff") format("woff"), url("../fonts/subset-GothamBlack.svg#GothamBlack") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #7b7b7b;
  min-width: 360px;
}

.container {
  max-width: 1202px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.header {
  padding-top: 22px;
  padding-bottom: 23px;
}

.logo {
  width: 50px;
  height: 48px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
}

.menu {
  float: right;
  margin-top: 8px;
}

.menu-item {
  display: inline-block;
  vertical-align: top;
}

.menu-link {
  color: #868686;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 34px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 18px 0 18px;
  display: block;
}

.menu-link:hover {
  color: #ffffff;
  background-color: #ffbb42;
  border-radius: 2px;
}

.menu-link:active {
  color: #ffffff;
  background-color: #df9311;
}

@media (max-width: 1170px) {
  .menu {
    width: calc(100% - 62px);
    text-align: right;
  }
  .menu-link {
    font-size: 12px;
    padding: 0 14px;
  }
  .logo {
    width: 46px;
    height: 44px;
  }
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
  .logo {
    float: none;
    display: inline-block;
  }
  .menu {
    width: 100%;
    text-align: center;
  }
  .menu-item {
    display: block;
  }
}

.hero-area {
  background-color: #709dca;
  padding-top: 106px;
  margin-bottom: 204px;
}

.title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.subtitle {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 35px;
  line-height: 36px;
  text-transform: uppercase;
}

.description {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.form-line {
  text-align: center;
}

.form-field {
  position: relative;
  margin-right: 9px;
  display: inline-block;
  vertical-align: top;
}

.form-field:last-child {
  margin-right: 0;
}

.form-input {
  width: 281px;
  padding: 0 25px 0 42px;
  border-radius: 2px;
  border: none;
  height: 46px;
  outline: none;
}

.form-input:focus {
  box-shadow: 0 0 0 2px #ffbb42;
}

.form-input::placeholder {
  font-size: 13px;
  color: #a9a9a9;
  font-weight: 400;
}

.form-button {
  background-color: #ffbb42;
  color: #ffffff;
  font-size: 14px;
  line-height: 46px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  padding: 0 42px 0 42px;
  border-radius: 2px;
  outline: none;
}

.form-button:hover {
  background-color: #e9a124;
}

.form-button:active {
  background-color: #df9311;
}

.frm-icn::before {
  font-family: "FontAwesome";
  font-weight: 600;
  position: absolute;
  font-size: 15px;
  top: 16px;
  left: 14px;
  color: #6e6e6e;
}

.user::before {
  content: "\f007";
}

.mail::before {
  content: "\f0e0";
}

.phone::before {
  content: "\f095";
}

.hero-slider {
  text-align: center;
  position: relative;
  top: 66px;
}

.macbook {
  width: 647px;
  height: 343px;
  background-image: url("../images/macbook.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 20px;
}

.sliderpic {
  width: 445px;
  height: 264px;
  background-image: url("../images/slider-pic.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.slider-buttons {
  position: relative;
  top: 82px;
}

.sb-active {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #1ca8dd;
  background-color: #ffffff;
  display: inline-block;
  margin-right: 6px;
  cursor: pointer;
  outline: none;
}

.sb-active:last-child {
  margin-right: 0;
}

.sb-unactive {
  border: 2px solid #dedfe0;
}

.sb-unactive:hover {
  border: 2px solid #1ca8dd;
}

@media (max-width: 1170px) {
  .description {
    margin: 0 auto;
    width: 75%;
  }
  .form-field {
    width: calc((100% - 18px) / 3);
    margin-bottom: 8px;
  }
  .form-field:nth-child(3) {
    margin-right: 0;
  }
  .form-input {
    width: 100%;
  }
  .form-button {
    width: 100%;
  }
  .hero-area {
    padding-top: 84px;
  }
}

@media (max-width: 768px) {
  .macbook {
    width: 328px;
    height: 174px;
    padding-top: 9px;
  }
  .sliderpic {
    width: 225px;
    height: 125px;
  }
  .description {
    margin: 0 auto;
    width: 100%;
  }
  .hero-area {
    padding-top: 54px;
  }
  .form-field {
    display: block;
    width: 100%;
  }
}

.ttl-dark {
  color: #394b50;
  margin-bottom: 80px;
}

.ttl-smaller {
  font-size: 30px;
  line-height: 32px;
}

.service {
  display: inline-block;
  vertical-align: top;
  width: 508px;
  margin: 0 108px 72px 0;
}

.service:nth-child(odd) {
  margin-right: 0;
}

.service:nth-last-child(1) {
  margin-bottom: 148px;
}

.service::before {
  font-family: "FontAwesome";
  font-weight: 600;
  font-size: 48px;
  color: #709dca;
}

.service:hover::before {
  color: #f6772c;
}

.service::after {
  clear: both;
}

.service-text {
  width: 427px;
  float: right;
}

.service-title {
  color: #394b50;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 6px;
}

.service-description {
  line-height: 23px;
}

.clock::before {
  content: '\f017';
}

.gear::before {
  content: '\f013';
}

.study::before {
  content: '\f19d';
}

.rocket::before {
  content: '\f135';
}

.code::before {
  content: '\f18b';
}

.money::before {
  content: '\f155';
}

@media (max-width: 1170px) {
  .service {
    margin: 0 auto 32px auto;
    width: 75%;
    display: flex;
    flex-flow: row nowrap;
    align-items: self-start;
  }
  .service .service-text {
    float: none;
  }
  .service:nth-child(odd) {
    margin-right: auto;
  }
  .service:last-child {
    margin-bottom: 38px;
  }
  .service::before {
    margin-bottom: 16px;
    margin-right: 16px;
  }
  .service-text {
    width: auto;
  }
}

@media (max-width: 768px) {
  .service {
    margin: 0 auto 32px auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}

.about {
  background-color: #ffc155;
  position: relative;
}

.about::before {
  content: '';
  background-image: url("../images/Layer_27.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 50%;
  height: 100%;
  position: absolute;
}

.about .sttl-smaller {
  margin-bottom: 12px;
}

.about .service-description {
  margin-bottom: 34px;
}

.about-section {
  padding-top: 160px;
  margin-left: 50%;
  padding: 160px 0 174px 80px;
}

.sttl-smaller {
  font-size: 30px;
}

.text-light {
  color: #ffffff;
}

.inner-button {
  background-color: #ffc155;
  padding: 12px 30px 12px 30px;
}

.about-section .inner-button {
  border: 1px solid #e7ad48;
}

@media (max-width: 1170px) {
  .about-section {
    margin-left: 45%;
  }
}

@media (max-width: 768px) {
  .about {
    padding-bottom: 32px;
  }
  .about::before {
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 200px;
    margin-bottom: 24px;
    position: relative;
    display: block;
  }
  .about-section {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.price-bg {
  background-color: #e7edf3;
  padding-top: 134px;
  padding-bottom: 162px;
  margin-bottom: 148px;
}

.price-bg .title {
  margin-bottom: 38px;
}

.plan-card {
  width: calc((100% - 60px) / 3);
  border: 1px solid #ccd5df;
  border-radius: 4px;
  background-color: #ffffff;
  text-align: center;
  padding: 51px 31px 48px 31px;
  margin-top: 30px;
  margin-right: 30px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  display: inline-block;
  vertical-align: top;
}

.plan-card:last-child {
  margin-right: 0;
}

.plan-card:hover {
  content: '';
  transform: scale(1.1);
  transition: 0.3s;
  border: none;
  border-radius: 4px;
  background-color: #709dca;
}

.plan-card:hover .advantage:nth-child(3) {
  color: #ffffff;
  border-top: none;
  line-height: 18px;
  margin-bottom: 30px;
}

.plan-card:hover .card-title {
  color: #ffffff;
}

.plan-card:hover .card-price {
  color: #ffffff;
}

.plan-card:hover .advantage {
  color: #c2e1ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  border-top: 1px solid #8eb8e2;
}

.card-title {
  color: #818b95;
  font-size: 25px;
  font-weight: 300;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.card-price {
  color: #ffbb42;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 700;
}

.currency {
  font-size: 38px;
}

.advantage {
  color: #b5bbc1;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  border-top: 1px solid #e2e9f0;
}

.advantage:nth-child(3) {
  color: #818b95;
  border-top: none;
  line-height: 18px;
  margin-bottom: 30px;
}

.advantage:nth-last-child(2) {
  margin-bottom: 18px;
}

@media (max-width: 1170px) {
  .plan-card {
    width: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .plan-card:last-child {
    margin-right: auto;
  }
  .plan-card:hover {
    transform: scale(1.03);
  }
}

@media (max-width: 768px) {
  .plan-card {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .plan-card:last-child {
    margin-right: auto;
  }
  .plan-card:hover {
    transform: scale(1.03);
  }
}

.steps-container {
  position: relative;
  margin-bottom: 86px;
}

.steps-container .fa {
  color: #709dca;
  font-family: "FontAwesome";
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  margin-bottom: 90px;
}

.how {
  position: relative;
}

.how .title {
  margin-bottom: 100px;
}

.step {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-right: 87px;
  width: 213px;
}

.step:last-child {
  margin-right: 0;
}

.step-title {
  color: #394b50;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.arrows {
  background-image: url("../images/arrows-down.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 128px;
  height: 32px;
  position: absolute;
  top: -35px;
  left: 198px;
}

.arrows.arrows-two {
  background-image: url("../images/arrows-up.png");
  top: 78px;
  left: 500px;
}

.arrows.arrows-three {
  background-image: url("../images/arrows-down.png");
  bottom: 266px;
  left: 800px;
}

.center {
  text-align: center;
  margin-bottom: 149px;
}

@media (max-width: 1170px) {
  .steps-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .step {
    width: calc((100%-62px)/4);
    margin-right: 0;
    align-self: center;
    margin-right: 24px;
  }
  .step:last-child {
    margin-right: 0;
  }
  .arrows {
    left: 17%;
  }
  .arrows.arrows-two {
    left: 42.1%;
  }
  .arrows.arrows-three {
    left: 68%;
  }
}

@media (max-width: 768px) {
  .steps-container {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 32px;
  }
  .steps-container .fa {
    margin-bottom: 8px;
  }
  .step {
    width: 80%;
    margin-right: 0;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
  }
  .step:last-child {
    margin-right: auto;
  }
  .arrows {
    display: none;
  }
}

.happy-clients-bg {
  background-color: #ffc155;
  padding-top: 138px;
  padding-bottom: 160px;
  margin-bottom: 150px;
}

.happy-clients-bg .title {
  margin-bottom: 48px;
}

.client-photo {
  width: 121px;
  height: 121px;
  background-image: url("../images/client1.png");
  margin-right: 31px;
  display: inline-block;
  vertical-align: top;
}

.client-photo.client-two {
  background-image: url("../images/client2.png");
}

.client-photo.client-three {
  background-image: url("../images/client3.png");
}

.client-photo.client-four {
  background-image: url("../images/client4.png");
}

.review-box {
  background-color: #ffffff;
  width: calc((100% - 36px) / 2);
  padding: 43px 30px  50px 30px;
  display: inline-block;
  vertical-align: top;
  margin: 0 36px 20px 0;
}

.review-box:nth-child(2n+1) {
  margin-right: 0;
}

.review-content {
  display: inline-block;
  vertical-align: top;
  width: 344px;
}

.blocquote-tr {
  quotes: "\201C";
  position: relative;
  line-height: 22px;
  margin-bottom: 18px;
}

.blocquote-tr::before {
  font-family: serif;
  font-size: 28px;
  content: open-quote;
  position: absolute;
  right: 350px;
}

.blocquote-tr::after {
  margin-top: auto;
  font-family: serif;
  font-size: 28px;
  content: close-quote;
  position: absolute;
  bottom: -12px;
  right: 0;
}

.client-sign {
  color: #99a9ae;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}

.client-sign :first-child {
  color: #f6772c;
}

@media (max-width: 1170px) {
  .blocquote-tr {
    width: 100%;
    font-size: 15px;
  }
  .blocquote-tr::before {
    right: 101%;
  }
  .blocquote-tr::after {
    margin-top: auto;
    font-family: serif;
    font-size: 28px;
    content: close-quote;
    position: absolute;
    bottom: -12px;
    right: 0;
  }
  .review-content {
    width: 100%;
  }
  .review-box {
    width: 100%;
    display: block;
    margin: 0 16px 20px 0;
  }
  .review-box:nth-child(2n+1) {
    margin-right: auto;
  }
  .client-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
}

.fi-border {
  border: 1px solid #cbcbcb;
  margin-bottom: 53px;
}

.map {
  background-image: url("../images/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 217px;
  margin-bottom: 62px;
  border-bottom: 1px solid #e3e7ec;
}

.bubble {
  background-image: url("../images/bubble.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 279px;
  height: 292px;
  border: 3px solid #ffffff;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 62px;
  padding-left: 68px;
  padding-right: 68px;
}

.logo-newsletter {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.bubble-text {
  margin-left: auto;
  margin-right: auto;
  width: 142px;
}

.service-title-bubble {
  color: #ffffff;
  display: block;
  margin-bottom: 8px;
}

.sd-info {
  color: #aeb7ba;
}

.sd-info::after {
  content: 'info@businessface.com';
  color: #ffbb42;
}

@media (max-width: 1170px) {
  .fi-border {
    margin-bottom: 0;
  }
  .map {
    background-position-y: 68%;
  }
  .map .logo {
    display: block;
  }
}

@media (max-width: 768px) {
  .map {
    padding-bottom: 118px;
    background-position-y: 84%;
  }
}

.footer {
  text-align: center;
}

.menu-footer {
  float: none;
  display: block;
  margin-bottom: 18px;
}

.menu-footer a {
  color: #394b50;
}

.phone-nmbr {
  color: #394b50;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 24px;
  display: inline-block;
  margin-bottom: 18px;
}

.phone-nmbr::before {
  content: "\f095";
  font-family: "FontAwesome";
  font-weight: 600;
  font-size: 18px;
  color: #394b50;
  margin-right: 7px;
}

.social-links {
  margin-bottom: 52px;
}

.social-links .fa {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  line-height: 18px;
}

.social-links :last-child {
  margin-right: 0;
}

.sl-link {
  margin-right: 12px;
  color: #709dca;
}

.sl-link:hover {
  color: #ffc155;
}

.rights-text {
  color: #ffffff;
  background-color: #709dca;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 18px;
}
